In [1]:
import pandas as pd

In [9]:
data = pd.read_excel('данные\Расчеты\ЗП НЗ_ЗП ЖЗ_ЗП ОНС.xlsx', dtype= object ,decimal=',', header=0)

In [11]:
data[['Накопленный износ','УПКС 2023','Внешнее устаревание']].head()

  Накопленный износ     УПКС 2023 Внешнее устаревание
0             0.757   5638.114401                0.19
1             0.757   6702.941176                0.19
2            0.6274   7248.417722                0.19
3             0.757   9742.829828                0.19
4             0.757  10691.394659                0.19